// Styling for the download section
section.contact {
    padding: 10px 0 10px 0;
    color: $textSecondaryColor;
    background: $textPrimaryColor;

    img{
        height: 180px;
        width: 180px;
    }

    .contact-social{
        img{
            width: 24px;
            height: 24px;
        }
    }

    li{
        list-style: none;
        color: fade-out($textSecondaryColor, .4);

        &.list-contact-title{
            color: $textSecondaryColor;
            font-size: 18px;
            padding-bottom: 10px;
        }
    }

    ul.list-contact{
        list-style: none;
        padding: 0;

        & > li > a{
            color: fade-out($textSecondaryColor, .4);
            &:hover{
                color: $textSecondaryColor;
                text-decoration: none;
            }
        }
    }
}
