// Styling for the features section

section.features {

    .section-heading {
        margin-bottom: 20px;
        h2 {
            margin-top: 0;
            color: $textPrimaryColor;
        }
        p {
            margin-bottom: 0;
            color: fade_out($textPrimaryColor, 0.4);
        }
    }

    .device,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }

    .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 56px;
            display: block;
            margin-bottom: 15px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &.accent-1{
                background-color: $colorAccent;
            }
            &.accent-2{
                background-color: $colorAccent2;
            }
            &.accent-3{
                background-color: $colorAccent3;
            }
        }
        img{
            height: 83px;
            width: auto;
            margin-bottom: 15px;
        }
    }
}
