// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    color: fade-out($textPrimaryColor, .4);

    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: fade-out($textPrimaryColor, .7);
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }

    .external-copyright{
        color: fade-out($textPrimaryColor, .6);
    }
}
