// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    @include body-font;
}

a {
    color: $colorPrimary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($colorPrimary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: $textPrimaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 40px 0;
}

.section-heading{
    h2 {
        font-size: 36px;
    }
}

.no-padding{
    padding: 0px !important;
}

#footer-curve{
    margin-bottom: -10px !important;
}