// Styling for the masthead
header.masthead {
    height: auto;
    background: url('../img/cover.jpg') center;
    background-size: cover;

    .masthead-content{
        position: absolute;
        bottom: 30px;

        @media (min-width: 992px){ // lg
            bottom: 15vh;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

        background: url('../img/cover-sm.jpg') center;
        background-size: cover;

    }

    @media (min-width: 320px) and (max-width: 480px)  and (orientation: portrait){

        background: url('../img/cover-sm.jpg') center;
        background-size: cover;

    }

    .content{

        @media (max-width: 768px){
        }

        h1{
            font-weight: 700;
            color: $textSecondaryColor;
            line-height: 1.4em;

            @media (max-width: 576px){ // xs
                font-size: 38px;
            }

            @media (min-width: 576px){ // sm
                font-size: 42px;
            }

            @media (min-width: 768px){ // md
                font-size: 54px;
            }

            @media (min-width: 992px){ // lg
                font-size: 62px;
            }

            @media (min-width: 1200px){ // xl
                font-size: 70px;
            }

        }

        h2{
            color: fade_out($textSecondaryColor, .2);

            @media (max-width: 576px){ // xs
                font-size: 20px;
            }

            @media (min-width: 576px){ // sm
                font-size: 24px;
            }

            @media (min-width: 768px){ // md
                font-size: 26px;
            }

            @media (min-width: 992px){ // lg
                font-size: 28px;
            }

            @media (min-width: 1200px){ // xl
                font-size: 30px;
            }

        }
    }
}
