// Styling for the features section

section.team{

    .team-title{
        color: $textPrimaryColor;
    }

    .team-card{
        .team-img{
            &.border{
                border: solid 4px !important;
            }

            &.border-grad-1{
                border-color: $colorAccent !important; /* Old browsers */
            }

            &.border-grad-2{
                border-color: $colorAccent2 !important; /* Old browsers */
            }

            &.border-grad-3{
                border-color: $colorAccent3 !important; /* Old browsers */
            }
        }

        p{
            color: fade_out($textPrimaryColor, 0.4);
        }
    }
}